---
import Layout from "../layouts/Layout.astro";

import { Image } from 'astro:assets';
import dashboard from '../images/dash.png';
---

<Layout
  title="ZEN MODE About Page, an easy way to layout embedded content and share it with friends"
>
  <main class="content">
    <section class="bg-white dark:bg-gray-900">
      <div
        class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
      >
      <Image class="w-full" src={dashboard} alt="A screenshot of the dashboard."/>
        <div class="mt-4 md:mt-0">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            Let's create more tools and ideas that brings us together.
          </h2>
          <p
            class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400"
          >
            Flowbite helps you connect with friends and communities of people
            who share your interests. Connecting with your friends and family as
            well as discovering new ones is easy with features like Groups.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
