---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ZEN MODE Blog Page, an easy way to layout embedded content and share it with friends"
>
  <main class="content">
    <!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->

    <main
      class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased"
    >
      <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
        <article
          class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
        >
          <header class="not-format">
            <address class="flex items-center  not-italic">
              <div
                class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"
              >
                <div>
                  <p class="text-base text-gray-500 dark:text-gray-400">
                    <time datetime="2023-12-31" title="December 31st, 2023"
                      >Dec 31, 2023</time
                    >
                  </p>
                </div>
              </div>
            </address>
            <h1
              class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"
            >
              ZenMode Pre-Release
            </h1>
          </header>
          <p class="lead">
            I am working on this dashboard with hopes of someday making an easy
            to use dashboards for people to build and share. It is still early
            and there is still much to be done. Any help would be appreciated
            and I am open to any suggestions!
          </p>
          <p>- Leabs</p>
        </article>
      </div>
    </main>
  </main>
</Layout>

<style>
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  strong,
  table,
  th {
    color: white !important;
  }
</style>
