<!--Select form that shows up to 4 columns, hidden on small screens -->
<label for="cols">Column Count:</label>
<select name="cols" id="columnSelectBox">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>

<script>
  // Get the column value from the URL
  let url = new URL(window.location.href);
  let column = url.searchParams.get("cols");

  //Set current column selection to the value from the URL
  document.getElementById("columnSelectBox").value = column;
</script>
