<!--Select form that shows up to 4 columns, hidden on small screens -->
<label for="cols" class="dark:text-gray-100">Column Count:</label>
<select name="cols" id="columnSelectBox" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>

<script>
  // Get the column value from the URL
  let url = new URL(window.location.href);
  let column = url.searchParams.get("cols");

  //Set current column selection to the value from the URL
  document.getElementById("columnSelectBox").value = column;
</script>
