---
import VideoSetting from "./VideoSetting.astro";
import ColumnSetting from "./ColumnSetting.astro";
---

<!-- drawer init and toggle -->
<div class="text-center">
  <button id="settings-menu"
    class="text-white bg-white shadow-lg border-4 border-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    type="button"
    data-drawer-target="drawer-example"
    data-drawer-show="drawer-example"
    aria-controls="drawer-example"
  >
    <svg
      class="w-6 h-6 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25"
      ></path>
    </svg>
  </button>
</div>

<!-- drawer component -->
<div
  id="drawer-example"
  class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800"
  tabindex="-1"
  aria-labelledby="drawer-label"
>
  <h5
    id="drawer-label"
    class="mb-2 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
  >
    Settings
  </h5>
  <button
    type="button"
    data-drawer-hide="drawer-example"
    aria-controls="drawer-example"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
    </svg>
    <span class="sr-only">Close menu</span>
  </button>

  <p class="mb-6 text-sm text-gray-500 dark:text-gray-400">
    Adjust the YouTube video feeds and layout settings for your video dashboard.
  </p>
  <h2 class="mb-2 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Video Feeds</h2>
  <VideoSetting />
  <br>
  <h2 class="mb-2 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Layout</h2>
  <ColumnSetting />
  <br>
  <br>
  <h2 class="mb-2 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Video Feeds IDs</h2>
  <p>
    The video ID comes after<code><small>https://www.youtube.com/watch?v=</small></code>
  </p>
</div>

<style>
    #settings-menu{
        position: fixed;
        top: 3rem;
        right: .75rem;
        z-index: 100;
    }
</style>

