---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import SettingsMenu from '../components/SettingsMenu.astro';
import Share from '../components/Share.astro';
// import Create from '../components/Create.astro';
---

<!DOCTYPE html>
<html lang="en" class="dark bg-zinc-950">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>


	</head>
	<body>
		<SettingsMenu />
		<Share />
		<!-- <Create /> -->
		<slot />
	</body>
</html>

